
<div class="ds-page-wrapper">
		<section ng-if="!launchFlag" class="pageheadsection">						
						<div class="mdl-grid mdl-grid--no-spacing">
							<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
								<span class="headline mob-disblock" ng-if="!launchFlag">Design Studio <sup class="ds-text2">BETA</sup></span>
								<span class="headline mob-disblock" ng-if="launchFlag">ML Workbench <sup class="ds-text2">BETA</sup></span>
								<ul class="c-breadcrumb">
									<li><a ui-sref="home" ng-click="$root.parentActive = ''">Home</a></li>
									<li>Design Studio</li>
									
								</ul>
							</div>							
						</div>						
		</section>
	<div ng-show="!is_ie" class="page-content ds-outer-container">
		<div ng-if="!launchFlag" class="ds-home">
			<div class="grid-item ds-grid-item">
				<div class="grid-top-section">
					<div class="product-image ds-content-center">
						<div class="mdl-navigation__link active" title="ML Workbench"> <span
							class="icon-header icon-design_studio"></span>

						</div>
					</div>
					<div class="mpdetailscontainer ds-content-center ds-tile-height">
						<label class="griditem-title ds-griditem-title">ML
							Workbench</label> <label class="grid-item-text-container"><span
							class="griditem-text2 grid-item-lbl ds-griditem-span">
								Create, Track, Manage and Organize ML Models, Data Libraries,
								Notebooks, ML Data Pipelines, Predictors </span> </label>

					</div>
					<div class="ds-content-center">
						<button id="launchButton" type="submit"
							class="btn-company btn-primary" ng-click="launchWorkbench()">Launch</button>
					</div>
				</div>
			</div>
			
			<div class="grid-item ds-grid-item">
				<div class="grid-top-section">
					<div class="product-image ds-content-center">
						<div class="mdl-navigation__link active" title="AcuCompose"> <span
							class="icon-header icon-design_studio"></span>

						</div>
					</div>
					<div class="mpdetailscontainer ds-content-center ds-tile-height">
						<label class="griditem-title ds-griditem-title"> AcuCompose
							</label> <label class="grid-item-text-container"><span
							class="griditem-text2 grid-item-lbl ds-griditem-span">
								Sample-Drag and drop models to create composite solutions </span> </label>

					</div>
					<div class="ds-content-center">
						<button id="acucompose" type="submit"
							class="btn-company btn-primary" ui-sref="acuCompose">Launch</button>
					</div>
				</div>
			</div>
		
			<!-- <div class="grid-item ds-grid-item">
					<div class="grid-top-section">
						<div class="product-image ds-content-center">
							<div class="mdl-navigation__link active" title="CMLP Studio"> <span
								class="icon-header icon-design_studio"></span>
	
							</div>
						</div>
						<div class="mpdetailscontainer ds-content-center">
							<label class="griditem-title ds-griditem-title"> CMLP Studio
								</label> <label class="grid-item-text-container"><span
								class="griditem-text2 grid-item-lbl ds-griditem-span">
									Sample-Drag and drop models to create composite solutions </span> </label>
	
						</div>
						<div class="ds-content-center">
							<button id="cmlpStudio" type="submit"
								class="gridlistview-btnactive ds-disable-button" ng-click="">Download</button>
						</div>
					</div>
				</div> -->
			</div> 
		
		

		<iframe id="workbenchLaunch" width="100%" height="100%" src=""
			class="ds-iframe"></iframe>

	</div>
</div>