@import url('fonts.google.css'); 
a{outline:none;}
.topnav{min-height: 30px; margin-bottom:0px; border:none;}
.topnav .navbar-nav>li{padding:2px 0;}
.topnav .navbar-nav>li a{padding:0 15px; color: #777; text-decoration:none; cursor:pointer;}
.navbar-default.mainnav{border-radius:0px; background-color:#FFF; border:none; margin:0; padding:0;}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover{color:#000; padding:15px 15px 15px 0;}
.mainnav .navbar-nav>li{padding:15px 0 5px;}
.mainnav .navbar-nav>li>a{padding:0 0 15px;}
.mainnav .navbar-nav>li>a span{padding:0 15px;}
.mainnav .navbar-nav>li>a:after{content: "|"; padding:0;}
.mainnav .navbar-nav>li>a.last:after{content:"";}
/*.mainnav .navbar-nav>li.active{background-color:transparent; border-bottom: 2px solid #ddd;}*/
.mainnav .navbar-nav>.active>a, .mainnav .navbar-nav>.active>a:focus, .mainnav .navbar-nav>.active>a:hover{color:#555; background-color:transparent; border-bottom: 2px solid #ddd; border-width:99%;}
.discussion ul{float:right; font-size:12px;}
.discussion ul li{list-style-type:none; display:inline-block;}
.discussion ul li a{color:#777;}
.discussion ul li a.active{color:#333;}
.discussion ul li:after{content: "|"; padding:0 5px; }
.discussion ul li:last-child:after{content:"";}
/* search button*/
.search {border-bottom:2px solid #ddd; float:left;}
.search .navbar-form{padding:0px; margin-bottom:0px;}
.search input{border-radius: 0px;border-width: 0; box-shadow: none;}
.search .add-on .input-group-btn > .btn {border-width: 0; left: -2px; border-radius: 0px; border-top-color: transparent; color:#aaa;}
.search .add-on .input-group-btn > .btn:hover, .search .add-on .input-group-btn > .btn:focus, .search .add-on .input-group-btn > .btn:active, .search .add-on .input-group-btn > .btn:link{background-color: #FFF;}
.rightsearch{float:right;}
/* stop the glowing blue shadow */
.add-on .form-control:focus  { box-shadow:none; -webkit-box-shadow:none;  border-color:transparent; background-color: transparent; }
/*.description_box{padding-top:0px; margin-bottom:20px; background-color:#e7e7e7;}*/
.description_box { padding-top: 0px; margin-bottom: 20px; background-color: #e7e7e7; margin-left: -15px;  margin-right: -15px; padding-left: 15px; padding-right: 15px;}
.description_box  .container  .description-content{background-color:#e7e7e7;}
.description_box .breadcrumb{background-color:#e7e7e7;}
.description_box h4{ padding: 20px 0px 5px 0px; margin-bottom: 5px; margin-top:0;}
.description_box .breadcrumb{padding:0px 0px 8px; margin-bottom: 0px;}
.description-content-left{float:left; padding:0 15px 0 0;}
.description-content-left h4{padding-left:0px;}
.description-content-right{float:right; padding:20px 15px 10px;}
.description-content-right span{padding:0 3px; color:#777;}
.description-content-right span i{color:#777; padding-right:3px;}
.description-content-right span i.fa-star, .description-content-right span i.fa-star-o{padding-right:1px;}
.description-content-right span:after{content: "|"; padding: 0 0 0 7px;}
.description-content-right span:last-child:after{content: "";}
/* .description_box .breadcrumb li a{color:#777;} */
/* search button end*/
/*top right nav*/
.top-right-nav {float:right; margin-left: 10px;}
.top-right-nav ul{ padding:0; float: left; margin-bottom: 0; }
.top-right-nav  ul li{display:inline-block; border-left:1px solid #ddd; float:left; padding:18px 10px;}
.top-right-nav  ul li a{color:#aaa; text-decoration:none;cursor: pointer;}
.top-right-nav  ul li img{margin: -8px 5px -5px 0;}
.top-right-nav  ul.dropdown-menu li{width: 100%; padding: 5px 0px; }
/* product container */
figure img{border:1px solid #ddd; padding:5px; }
figcaption{padding:5px 0; font-size:15px;}
.product_container ul, .metrics ul{padding:0; color:#333; width:100%; float:left;}
.product_container ul li, .metrics ul li{display:inline-block; float:left; font-size:13px; }
.product_container ul li:after{content: "|"; padding:0 7px;}
.product_container ul li:last-child{color:rgb(255,128,54);}
.product_container ul li:last-child:after{content:""; padding:0;}
.socialblog{margin-bottom:20px; float:left;}
.product_container ul.socialblog li{color:#333; padding:5px 0; line-height:24px;}
.product_container ul.socialblog li:after, .metrics ul li:after{content: "";}
.comment:before { content: "\e111";  font-size: 15px; color: #aaa; font-family: 'Glyphicons Halflings'; padding: 0px 5px 0 0;   float: left;}
.eyeopen:before{ content: "\e105";  font-size: 15px; color: #aaa; font-family: 'Glyphicons Halflings'; padding: 0px 5px 0 0;   float: left;}
.download:before{ content: "\e025";  font-size: 15px; color: #aaa; font-family: 'Glyphicons Halflings'; padding: 0px 5px 0 0;   float: left;}
.link:before{ content: "\e144";  font-size: 15px; color: #aaa; font-family: 'Glyphicons Halflings'; padding: 0px 5px 0 0;   float: left;}
.metrics ul li:last-child{color:#333;}
/* search icon*/
.stylish-input-group{margin:0 0 20px 0;}
.stylish-input-group .input-group-addon{background: white !important; border-radius:0; padding:6px; }
.stylish-input-group .form-control{border-right:0; 	box-shadow:0 0 0; 	border-color:#ccc;}
.stylish-input-group button{  border:0;    background:transparent;}
.dropdown-menu .stylish-input-group{padding:10px; margin-bottom:0px;}
.sort-heading .dropdown-menu{right:0; left:auto;}
.dropdown-menu .viewall{background-color:#eee; text-align:center;}
.dropdown-menu .viewall a{color:#337ab7;}
/* product container end*/
footer{bottom:0; width:100%;}
footer div { padding: 10px 15px; border: 1px solid #777; background-color: #ddd; color: #333; margin: 0 auto 20px; width: 20%; text-align: center;  }
footer div a, footer div a:hover{text-decoration: none; color:#333;}

/* model details */
.modelsearch .input-group input.form-control{width:200px;}
.tab-content{border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:15px; margin-bottom:20px; }
.nav-tabs > li > a{border-radius: 0px;  color:#555;}
.nav-tabs > li.active > a{font-weight:bold;}
.detailsummary{margin-bottom:25px;}
.headings{font-weight:bold; border-bottom:1px solid #ddd; display:block; padding-bottom: 10px; font-size:13px;}
.headings button{margin-bottom: 0px;}
.ratemodel{border:1px solid #ddd; padding:15px; margin-bottom:20px;}
.ratemodel p.nameml{float:left;}
.socialicon{float:right;}
.socialicon span{float:left;}
.socialicon ul{float:left; padding:0 0 0 10px}
.socialicon ul li {display:inline-block; background-color:#DDD; border-radius:50%; width:25px; height:25px; padding: 3px; text-align:center; cursor:pointer;}
.rating h3{margin-top:0px; margin-right:10px;}
.starratings {width: 100%; float:left; margin-bottom: 5px;}
.starratings span{float:left;}
.starratings .badge{background-color:#FFF; color:#333; padding: 5px 0;}
.starratings .avarge{background-color:#DDD; min-width:20px; min-height:10px; float:left; margin: 6px 3px 5px 7px;}
 /* discussion */
 .imageholder{width:31px; height:31px; margin-right:15px; float:left;}
.imageholder img{width:100%; height:100%;}
.chatwindow {margin-left:46px;}
.chatwindow p{padding:10px 0 0 0;}
.replybtn{background-color:#eee; border-color:#CCC; border-radius:0; padding:3px 12px; font-size: 12px; margin-bottom:10px; }
.chatreply{margin-left:46px; margin-top:5px;}
.post{margin-left:46px; background-color:#eee; padding:5px;}
.btn-post{ border-radius:0; background-color:#ccc;} 
.form-control{border-radius:0;}
.post .form-group{width:92%;}
.post .form-group .form-control{width:100%;}
.add-comment{margin-top:20px;}
.btn-comment{background-color:#ccc; border-color:#aaa; border-radius:0; padding:3px 12px; font-size: 12px; margin-bottom:10px; }
.discussion label{font-weight:normal;}
.leftcontent{padding:10px;}
.leftsection{border:1px solid #ddd; padding:5px 10px; margin-bottom:20px;}
.leftcontent .chatwindow p{padding:0; margin-bottom:2px;}
.leftsection hr{margin-top:5px; margin-bottom:5px;}
.leftcontent hr{margin-top:5px; margin-bottom:5px; margin-left:-10px; margin-right:-10px;}
.solution .imageholder{width:46px; height:50px; margin-right:10px;}
.solution .chatwindow {margin-left:56px;}
.solution .leftcontent{padding-bottom:0px;}
.solution .leftcontent:last-child{padding-bottom:10px;}
/*------- statcontainer -----------*/
.statcontainer {float:right !important; min-width: 200px;}
.statcontainer > span {display: inline-block; text-align: center; padding:0 10px;}
.statcontainer > span:last-child { padding-right:0;}
.boxinner1 {padding:10px;}
.boxinner2 {padding: 5px 0px;}
.distbl { display: table; width: 100%;}
.distbl-cell {display: table-cell;}
.distbl-cell2 {display: table-cell; padding: 0 10px;}
.imgcontainer1 {border: 1px solid #ccc; width: 57px; height: 57px; float:left;}
.details1 {float:left; width:164px; margin-left: 10px;}
.details1 label {margin-bottom: 0;}
.hr2 { position:relative; margin-left:-10px; margin-right: -10px;}
.btn-long {min-width: 150px; margin-bottom: 5px; border-radius: 0;}
.btn-deploy {min-width: 150px; border-radius: 0;}
.tagscontainer {padding: 5px 0; overflow: auto;}
.tagspan { background: #f2f2f2; padding: 3px 5px; border: 1px solid #ddd; margin: 3px; white-space: nowrap; float:left; font-size: 12px; border-radius: 3px;}
.iconspan1 {margin: 0 5px;}
.iconspan1:first-child {margin-left: 0;}
figcaption{font-size:16px;}
.navbar-toggle{float:left;}
.solution .boxinner2  label{margin-bottom: 0px;}
.rating {unicode-bidi: bidi-override; direction: rtl; text-align: left;}
.rating > span {display: inline-block; position: relative;  width: 1.1em;  font-size: 12px;  float:left;  color:#aaa;}
.rating > span i, .iconspan1 i{color:#aaa;}
.rating i{color:#888; float: left;padding: 5px 2px;}
label.normallbl {font-weight: normal;}
.inline-block {display:inline-block;}
table th{font-weight:normal;}
table th i{background-color:#ddd; border-radius:50%; padding: 6px 7px;}
.table-responsive .fa-download{color:#aaa;}
/* sort heading */
.sort-heading{display:block; border-bottom:1px solid #ddd; margin-bottom:20px; }
.sort-heading ul li a{color:#333; text-decoration:none;}
.sort-heading  ul.dropdown-menu li{width:100%;}
.sort-heading ul li ul li:after{content:""; padding:0;}
.dropdown-menu{border-radius:0;}
.leftfilter{padding-left:0px;}
.product-right-container{padding:0;}
.product-right-container h5{font-weight:bold; border-bottom:1px solid #DDD; padding-bottom:10px; margin-bottom:20px;}

.mobshow,.onlymob{display:none;}
#browse-btn.btn{border-radius:0; margin-bottom:15px;}
#browse-btn.btn:hover, #browse-btn.btn:focus{background-color:transparent; border-color:#ccc; }
.tagsection{margin-top:15px;}
.showmore{font-size:12px;}
 #slidemenu{float:left;} 
.sortlist{float:right;}
.tab-panel .nav > li > a{padding: 10px 10px;}
.privacy{padding-bottom:10px; }
figcaption span{color: rgb(255,128,54); font-size: 12px;}
.socialblog.socialblogright{float:right; width:auto; margin-top: -5px;}
.product_container .product-description ul li.last{color:#333;}
.socialblog.deletedblog{margin-bottom:5px;}
figure{position:relative;}
figure span{position:absolute; left:5px; font-size: 18px; color: #aaa;}
.relative{position:relative;}
.top-right-nav .dropdown-menu{right:0; left: auto;}
.top-right-nav ul.dropdown-menu li{border-left:0px;}	
.imagegallery img{width:100%;}
.password{margin:15px auto; width:400px;}
.password .modal-body{padding-top:0;}
.deploy{text-align: center;}
.deploy .dropdown-menu {min-width:150px; padding:0;}
.deploy .dropdown-menu > li {border-bottom:1px solid #D9D9D9 !important;}
.deploy .dropdown-menu > li > a{padding: 3px 13px;}

 /* vertical tab */
.tabs-left {border-bottom: none;}
.tabs-left {border-right: 0px solid #ddd;}
.tabs-left>li{float: none;  margin-bottom: 5px;}
.tabs-left>li {margin-right: -1px;}
.tabs-left i{margin-right:10px; color:#bbb; font-size: 20px;}
.workflow .nav-tabs > li.active > a{font-weight:normal;}
.workflow .nav-tabs.tabs-left>li.active>a,.workflow .nav-tabs.tabs-left>li.active>a:hover,.workflow .nav-tabs.tabs-left>li.active>a:focus {border-bottom-color: #ddd; border-right-color: transparent;}
.tabs-left>li>a {border-radius: 4px 0 0 4px; margin-right: 0; display:block;}
.tabs-left>li>a ul{padding-left: 23px; font-size:11px;}
.tabs-left>li>a ul li{list-style-type:none; display:inline-block; padding:0;}
.tabs-left>li>a ul li.green, .tabs-left i.green, .green{color:green;}
.tabs-left>li>a ul li.green:after{content:"|"; padding: 0 2px 0 5px;}
.tabs-left>li>a ul li.blue, .blue{color:#1347c2;}
.tabs-left>li>a ul li.orange, .orange{color:#fb7e03;}
.workflow-left{width:25%; float:left;}
.workflow-right{ width:75%; float:left; }
.tab-panel .workflow .nav > li > a{border: 1px solid #ddd; border-radius: 0;}
.workflow .tab-content{border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-top:1px solid #ddd; min-height:500px; margin-bottom:0px;}
 /* timeline */
 
 
/* img {
    vertical-align: middle;
} */

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        background: #ddd;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 17px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 15px;
        margin-bottom: 10px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -8px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 20px;
                height: 20px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 2px #ddd;
                -webkit-box-shadow: 0 0 0 2px #ddd;
                box-shadow: 0 0 0 2px #ddd;
                line-height: 20px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #fff;
                    color: #00a651;
					box-shadow: 0 0 0 2px #00a651;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                /* background: #f5f5f6; */
                padding: 0 0 50px 0;
                margin-left: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #333;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 14px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 13px;
                    margin-bottom: 10px;
					font-weight:bold;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        /* -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6; */
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
						font-size:11px;
						font-weight:normal;
                    }
				
.filterlists{border:1px solid #DDD; font-size:12px; float:left; margin: -5px 0px -5px 5px;}
.filterlists span{padding:5px; float: left;}
.filterlists:after{content:"X"; background-color:#333; color:#fff; padding: 5px 5px; float: right; cursor:pointer;}
.textellipsis{text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;  width: 98%;}
.namedate{min-height:36px;}
	
@media(max-width:1024px){
.description-content-left, .description-content-right{padding:0 0 15px 0;}
.description-content-left h4{padding-left:15px;}
.description-content-right{float:left; padding-left:15px;}
.description-content-right span:first-child{padding-left:0px;}
.post .form-group {width: 90%;}
.iconspan1{margin: 0 2px;}
.mainnav .navbar-nav > li > a span {padding: 0 7px;}
.deskhide{display:none;}
/* .rightsearch.uselogin{right: 165px;} */
}

@media(max-width:768px){
footer div{width:30%;}
.topnav{padding:0;}
.top-right-nav ul li{padding: 18px 7px;}
.mainnav .navbar-nav > li > a span {padding: 0 10px;}
.description_box{background-color:#e7e7e7;}
.description_box .container{padding-left:0; padding-right:0;}
.description_box  .description-content h4{padding: 20px 10px 5px}
.description_box .description-content .breadcrumb{padding: 0px 10px 8px;}
.mobhide{display:none;}
.mobshow {display:block !important;}
.showcontent{position:absolute; display:block; z-index:2; background-color:#FFF; margin-top:-16px; width: 240px;}
.leftfilter{padding:0;}
.navbar > .container .navbar-brand{padding-left:0;}
.sortlist{margin-top: -41px; /* margin-right: -13px; */}
.navbar-brand{padding-left:0;}
.description-content-left, .description-content-right{padding:0 0 15px 0;}
.description-content-right{float:left; padding-left:10px;}
.description-content-right span:first-child{padding-left:0px;}
.iconspan1{margin: 0 5px;}
.chatwindow .normallbl{width:100%;}
/* .rightsearch.uselogin{position:static;} */
.search {margin-bottom: 5px;}
.model-detail{margin:0 -15px;}
}
@media(max-width:767px){
.mainnav .navbar-nav>li>a:after{content:none;}
.mainnav .navbar-nav > li { padding: 0px 0 5px;}
.mainnav .navbar-nav > li > a{padding: 0 0 10px;}
.search{width:100%; margin-bottom:15px;}
.top-right-nav {margin-left: 0px; margin-bottom: 15px; width: 100%;}
.search .navbar-form{border-bottom:0px}
footer div{width:60%;}
.topnav {padding:0;}
.topnav .navbar-nav{float:left; margin-top:0px; margin-bottom:0px; margin-left: 0;}
.topnav .navbar-nav > li{float:left;}
.topnav  .navbar-right{float:right; margin-top:0px; margin-right: -15px;}
.socialicon{float:left; margin-top:10px; clear:both;}
.post .form-group{width:100%;}
.product-image{width:30%; float:left;}
.product-image figure img{width:100%;}
.product-description{width:70%; float:left; padding-left: 15px;}
.rightsearch{float:left; width:100%}
.navbar > .container .navbar-brand{padding-left:15px;}
.description_box  .description-content h4{padding: 20px 0px 5px}
.description_box .description-content .breadcrumb{padding: 0px 0px 8px;}
.product > div{border-bottom:1px solid #DDD; margin-bottom:20px;}
.product > div:last-child{border-width:0px; margin-bottom:0px;}
.product_container ul.socialblog li{font-size:12px;}
.product_container ul.socialblog li:after{padding: 0 6px 0 3px;}
 #slidemenu{float:none;}
#slide-nav .navbar-toggle.slide-active {margin-left:-10px;}
.navbar-brand{position:absolute; left:45px; top:2px;}
.description-content-right{padding:0 0 15px 0;}
.discussion ul{float:left; padding:0 0 5px 0;}
.top-right-nav{margin-bottom:0px;}
.top-right-nav ul{position:absolute; right:0; top:0 }
.top-right-nav ul li {padding: 10px 7px; margin-top: 9px;}
.top-right-nav .dropdown-menu { right: -1px; left: auto; top: 38px;}

/* .rightsearch{position:absolute; top:150px;} */
}
@media(max-width:479px){
.nav-tabs > li{width:100%;}
.nav-tabs {background-color: #f9f7f7;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border-bottom: 1px solid #ddd;}
.statcontainer{padding-bottom:3px;}
.password{width:290px;}
.onlymob{display:block; float: left; width: 25px; height: 25px; margin-top: -2px; margin-right: 5px;}
.onlymob img{width:100%;}
.tabs-left > li > a ul{padding-left:0;}
}
@media(max-width:376px){
.workflow-left{width:40%;}
.workflow-right{width:60%;}
.workflow .tab-content{margin-left:-1px;}
}




/*tags*/
.tag-input-ctn {
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  width: 500px;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.tag-input-ctn input {
  display: inline-block;
  float: left;
  height: 18px;
  padding: 0px;
  font-size: 13px;
  line-height: 18px;
  color: black;
  border: 0px;
  margin: 2px;
}
.tag-input-ctn input:focus {
  outline: 0;
  box-shadow: 0px;
}
.tag-input-ctn .input-tag {
  padding: 2px 4px;
  line-height: 12px;
  font-size: 11px;
  background-color: #e3eaf6;
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin: 2px 5px 2px 0px;
  border: 1px solid #a9b6d2;
}
.tag-input-ctn .input-tag .delete-tag {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 2px;
}
.tag-input-ctn .input-tag .delete-tag:hover {
  background-color: #96b4d2;
}

/*Carousel css*/
.carousel_img{
  margin: auto;
  width: 100%;
}
.textellipsis{text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;  width: 98%;}
div.product > div > div[class^="col-"] {height: 380px;}

/************************** NEERAJ STARTS*********************/
.login-success,
.alert-warning{
  position: fixed;
  left: 43%;
  top:0;
}

.signup-success{
  position: fixed;
  left: 40%;
  top:0;
  text-align:center;
}
.notifications-top{
	position: fixed;
  	left: 36% !important;
  	top:-5px;
  	text-align:center;
}
span, p, a, h1, h2, h3, h4, h5, h6, h7, label, lable, section, article {
font-family: 'Roboto', sans-serif;
}
.tab-panel .nav > li > a {
    cursor: pointer;
}
/************************** NEERAJ ENDS*********************/
/* J Start */
#srch-term{min-width:200px;}
.fa-2x {
    font-size: 1em !important;
    color: #FF7700 !important;
}
.att-icon {width:20px; height:20px; background: url(/images/at_t.png) no-repeat center center; background-size: cover; 
display: inline-block;position:relative; top:8px;}
span.signUpNow a {width: 100%;display: block;height: 100%;color: #333;text-decoration: none;padding-top: 4px;}
span.signUpNow {width: 100%;display: block;height: 100%;}
.signUp{display:none}
span.signUpNow .signUp{display:inline}
/* J End */
/*account setting page*/
.account_container .leftsection  a{color:#333; text-decoration:none;}
.account_container .leftsection .active{font-weight:bold; font-size:13px; padding-top: 5px;}
.panel{border-radius:0;}
.panel-default > .panel-heading{background-color:#FFF;}
.profile-pic{width:13%; text-align:center; float:left;}
.profile-pic img{padding: 5px; border: 1px solid #ddd; margin-bottom:15px; width:100%;}
.profile-form{width:87%; float:left;}

@media (min-width: 1600px) {div.product > div > div[class^="col-"]{max-width: 320px;}}
/* download table */
.table-download thead{ background-color:#f9f9f9; text-align:center; font-weight:bold; font-size:15px; }
.table-download thead > tr > th{border-bottom-width: 1px;}
.table-download thead th{text-align:center;}
.table-download tr.bluestrip{background-color:#e7f5ff;}
table.table-download th i{background-color:transparent;}
.table-download .fa-chevron-down{font-size: 12px; color: #287fbc;}
.table-download  .fa-chevron-up{font-size: 12px; color: #8d8d8d;}

/*Css for notification*/
.glyphicon-bell{font-size:15px;}
.top-right-nav .badge{margin-top: -28px; padding: 2px 4px; background-color:#15afd1; margin-left: -6px; font-weight:normal; font-size:11px;} 

 a[disabled] {
      pointer-events: none;
      cursor: default;
    }

/* Admin Peer Configuration ********/

/* peer page*/
.peer-heading h3{float:left; padding-top: 2px;}
.peer-heading .panel-body{min-height:324px;}
.peer-heading .panel-heading span{color:#777; font-size:12px; padding-left: 5px;}
.peer-heading .replybtn{margin-bottom:0px;}
.peer-heading .panel-heading{min-height:47px;}
.peer-heading-div{width: 33.33333333%; float:left; }
.peer-heading-div{padding:0 7px;}
.peer-heading-div:first-child{padding-left:0px;}
.peer-heading-div:last-child{padding-right:0px; }
.replybtn i, .addpeer .btn i{padding-right:5px;}
.peer-heading table{margin-bottom:15px;}
.peer-heading table label{margin-bottom:0px;}
.gray{color:#777;}
.peer-heading table tr td{border-bottom: 1px solid #ddd; border-top:0px; padding:8px 15px;}
.remove-top-space{margin-top:-15px;}
.showmore{border-radius: 0; padding: 3px 12px;font-size: 12px; width:70%; }
.peer-heading-div table span{float:right;}
.description-content-right.addpeer {padding-bottom: 0px;  float: right;}
.description-content-right.addpeer .btn{background-color: #fff; border-color: #CCC; border-radius: 0; padding: 4px 12px; font-size: 13px; margin-bottom: 0px;}

/* peer configuration page */
.peer-container table th{font-weight:bold; }
.peer-container .table > thead > tr > th{vertical-align:top;}
.peer-container table tr td span{display:block;}
.peer-container table tr td i{padding-right:7px;}
.peer-container table tr td i:last-child{padding-right:0px;}
.peer-container table td:nth-child(1){width:15%;}
.peer-container table td:nth-child(2){width:30%;}
.peer-container table td:nth-child(3){width:25%;}
.peer-container table td:nth-child(4){width:10%;}
.peer-container table td:nth-child(5){width:10%;}
.peer-container table td:nth-child(6){width:10%;}
.peer-container .stylish-input-group{margin-bottom:0px;}
.peer-filter{padding-bottom: 20px; width: 100%; display: inline-block;}
.peer-filter .dropdown button{height:34px; background-color:#FFF; border:1px solid #ccc;}
.peer-filter .dropdown-menu {right: 0; left: auto;}

/* peer popup*/
.peerpopup .modal-content{border-radius:0px;}
.peerpopup .modal-dialog{width:700px;}
.peerpopup form div.peerform{width:100%; float:left; margin-top:-73px;}
.glyphicon-bell{font-size:15px;}
.top-right-nav .badge{margin-top: -28px; padding: 2px 4px; background-color:#15afd1; margin-left: -6px; font-weight:normal; font-size:11px;}

/* peer status bar */
.peer-statusbar{height: 40px; margin-top: 10px; background-color: #e1e1e1; margin-bottom: 35px; padding:0 15px; font-weight:bold;}
.peer-statusbar .peer-details{width:80px; height:60px; border:1px solid #DDD; float:left; text-align:center; margin-top:-10px; background-color:#FFF; position:relative; line-height:54px;}
.peer-details-text{padding-left: 15px;line-height: 40px; float:left;}
.peer-details-navigation{float:left; line-height:40px; padding:0 10px;}
.peer-details-navigation i{padding:0 5px; line-height: 40px; float:left;}
.peer-details-navigation .fa-long-arrow-right{font-size:25px;}
.peer-statusbar .peer-details img{margin:auto;}
.peer-details .fa-check{font-size:32px; padding-top: 11px;}

/* peer page ul */
.peerpopup  ul{padding:0;}
.peerpopup  ul li{list-style-type:none; display:inline-block; vertical-align:top; margin-top:2px;}
.peerpopup  ul li.filterbox{margin-top:0px;}
.filterbox .form-control{height:30px;}
.filterbox label{font-weight: normal; font-size: 14px;}
.peertable .checkbox{margin:0 10px;}
.peertable {max-height:300px; overflow-y:auto; margin:15px 0 0;}
.peertable table{margin-bottom:0px;}

.shared-with-icon:hover{color:red;cursor:pointer;border: 1px solid red;}

/* password validator css*/
.strength-meter {position: relative;height: 3px;background: #DDD;margin: 10px auto 20px;border-radius: 3px;}
.strength-meter:before,.strength-meter:after {content: '';height: inherit;background: transparent;display: block;border-color: #FFF;border-style: solid;border-width: 0 5px 0 5px;position: absolute;width: 80px;z-index: 10;}
.strength-meter:before {left: 70px;}
.strength-meter:after {right: 70px;}
.strength-meter-fill {background: transparent;height: inherit;position: absolute;width: 0;border-radius: inherit;transition: width 0.5s ease-in-out, background 0.25s;}
.strength-meter-fill[data-strength='0'] {background: darkred;width: 20%;}
.strength-meter-fill[data-strength='1'] {background: orangered;width: 40%;}
.strength-meter-fill[data-strength='2'] {background: orange;width: 60%;}
.strength-meter-fill[data-strength='3'] {background: yellowgreen;width: 80%;}
.strength-meter-fill[data-strength='4'] {background: green;width: 100%;}