<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds" debug="false">

  <!--  specify the component name -->
  <property name="componentName" value="portal-be"></property>
  
  <!--  specify the base path of the log directory -->
  <property name="logDirPrefix" value="logs"></property>
  
  <!-- The directories where logs are written -->
  <property name="logDirectory" value="${logDirPrefix}/${componentName}" />
  <!-- Can easily relocate debug logs by modifying this path. -->
  <property name="debugLogDirectory" value="${logDirPrefix}/${componentName}" />
  

	<!-- Based on https://wiki.acumos.org/display/OAM/Log+Standards -->
	<property name="p_tim" value="%d{&quot;yyyy-MM-dd'T'HH:mm:ss.SSSXXX&quot;, UTC}" />
	<property name="p_thr" value="%thread" />
	<property name="p_lvl" value="%.-5level" />
	<!-- Logger yields original class name in SLF4J loggers -->
	<property name="p_log" value="%logger" />
	<property name="p_mrk" value="%replace(%replace(%marker){'\t', '\\\\t'}){'\n','\\\\n'}" />
	<property name="p_mdc" value="%replace(%replace(%mdc){'\t','\\\\t'}){'\n', '\\\\n'}" />
	<property name="p_msg" value="%replace(%replace(%msg){'\t', '\\\\t'}){'\n','\\\\n'}" />
	<!--  Gather exception stack trace with no linebreaks -->
	<property name="p_exc" value="%replace(%replace(%ex){'\t', '\\\t'}){'\n','\\\n'}" />

  <!-- <property name="multiLineBoreasPattern"
		value="${p_tim}|%X{RequestID}|${p_thr}|%X{StatusCode}|%X{ResponseCode}|%X{ResponseDescription}|${p_lvl}|%X{Severity}|%X{ServerFQDN}|%X{ClientIPAddress}|%X{TargetEntity}|%X{ClassName}|%X{User}|${p_log}|${p_mdc}|%msg|${p_mrk}%n" />
    -->
    
    <property name="singleLineBoreasPattern" value="%nopexception${p_tim}\t${p_thr}\t${p_lvl}\t${p_log}\t${p_mrk}\t${p_mdc}\t${p_msg}\t${p_exc}%n" />
	<property name="multiLineBoreasPattern" value="${p_tim}\t${p_thr}\t${p_lvl}\t${p_log}\t${p_mrk}\t${p_mdc}\t%msg\t%ex%n" />
    
	<!-- Show events with level WARN or above on the console (docker log) -->
	<appender name="console-warn" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>${multiLineBoreasPattern}</pattern>
		</encoder>
	</appender>

	<!-- Show all events in the rolling log file -->
	<appender name="file-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDirectory}/${componentName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${logDirectory}/${componentName}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${singleLineBoreasPattern}</pattern>
		</encoder>
	</appender>

	<appender name="file-async" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>256</queueSize>
		<appender-ref ref="file-rolling" />
	</appender>

	<!-- The root level is the default for all loggers, NOT a filter on any appender.
		 This level can be set with property logging.level.root=LEVEL. -->
	<root level="INFO">
		<appender-ref ref="file-async" />
		<appender-ref ref="console-warn" />
	</root>


</configuration>