<!-- only for demo remove afterwards -->
<div class="page-content">
					<section class="pageheadsection">						
						<div class="mdl-grid mdl-grid--no-spacing">
							<div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
								<span class="headline mob-disblock">Marketplace</span>
								<ul class="c-breadcrumb">
									<li><a ui-sref="home" ng-click="$root.parentActive = ''">Home</a></li>
									<li>Marketplace</li>
								</ul>
								<ul class="c-breadcrumb" ng-if="userLoggedIn==true">
									<button class="btn-company " ng-click="accessFilter('PB');public=true;company=false;all=false" ng-class="public?'btn-primary':'btn-secondary'">Public</button>
									<button class="btn-company" ng-click="accessFilter('OR');public=false;company=true;all=false"  ng-class="company?'btn-primary':'btn-secondary'">Company</button>
									<button class="btn-company" ng-click="accessFilter('all');public=false;company=false;all=true" ng-class="all?'btn-primary':'btn-secondary'">ALL</button>
								</ul>
							</div>
							<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone text-right lg-v-self-center">
								<a ng-show="$root.enableOnboarding" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-primary hide-xs" ui-sref="modularResource" ng-click="$root.parentActive = ''" alt="Add New Model" title="Add New Model">add new model</a>
								<button class="mdl-button mdl-button--fab btn-primary mdl-js-ripple-effect mob-add-button hide-sm hide-md hide-lg hide-xl"><i class="material-icons">add</i></button>
							</div>
						</div>						
					</section>
					<div class="mdl-grid mdl-grid--no-spacing cg-grid-layout">
						<div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--4-col-phone cg-grid-left-container" ng-class=" 'showfilter' ? 'leftbrowse-section' : '' " ng-show="showfilter">
							<div class="mdl-grid browse-section-container" layout="row">
								<span class="title text-bold" flex="60">BROWSE BY</span>
								<a class="text-right" flex="40" ng-click="autoHeight = !autoHeight" ng-show = "!autoHeight  && category.length > 4">Show Less</a>
								<a class="text-right" flex="40" ng-click="autoHeight = !autoHeight" ng-show = "autoHeight  && category.length > 4">Show All</a>
								
							</div>							        
							<div class="" >
								<div class="sidebar-search-container">
									<input class="searchicon" type="text" id="model-search"
									ng-change="filterChange('searchBox','searchFilter')" ng-model="searchBox" placeholder="Search here"  ng-model-options="{ debounce: 2000 }">									
								</div>
								
								<div class="sidebar-checkbox-container" ng-class= "autoHeight ? 'fixheightfilter' : 'autoheightfilter'">
								<!-- <div class="sidebar-checkbox-container autoheightfilter"> -->
								<label class="disblock margin-b md-subhead">Filter By Category <span class="title-icons filter-catagory" alt="Filter By Category" title="Filter By Category"></span></label>
							   
								<div class="checkbox"  ng-repeat="cat in category">
								 <md-checkbox aria-label="Checkbox 1" class="text-medium" ng-true-value="'yup'" ng-false-value="'nope'"
										value="{{cat}}" ng-click="filterChange(cat.typeCode,'caegory')">{{cat.typeName}}
								</div>
								<!-- <a href="#" class="text-small" flex>Show More</a> -->
							</div>
							<!-- <a class="link-sidebar-showmore" ng-click="autoHeight = !autoHeight" ng-show = "autoHeight" flex>Show More</a>
							<a class="link-sidebar-showmore" ng-click="autoHeight = !autoHeight" ng-show = "!autoHeight" flex>Show Less</a> -->
							<hr class="sidebar-seperator">
							<div class="sidebar-tag-container">
								<label class="disblock md-subhead">Tags <span class="title-icons icon-tags" alt="Tags" title="Tags"></span></label>
								<div class="">
									<md-chips>
									  <md-chip ng-repeat="tag in tags" 
									  	ng-class="{'selected-tag': selectedChip[$index]}"
									   ng-click="filterChange(tag,'tag');selectChip($index)">{{tag}}</md-chip>
									</md-chips>
								</div>
								</div>
								
							</div>
							
						</div>
						<div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color--white cg-grid-right-container">
							<div class="page-wrapper">
								<div class="mdl-grid mdl-grid--no-spacing grid1 hide-xs">
								  <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-phone mdl-cell--middle">
									<span class="hide-xs hide-sm showing-text">Showing - <span class="text-colorgray1"><!-- {{modelCount}} -->{{filtered.length}} Models</span></span>
									  <button class="mdl-button mdl-js-button mdl-button--primary hide-lg hide-md hide-xl btn-sort btn-browseby" ng-click="showfilter = !showfilter">Browse By</button>
								  </div>
								  <div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--3-col-phone text-right">
									<div class="grid-control-btn-container">
									<div class="marketplace-btn-container">								  
<!-- 										<button id="demo-menu-lower-right2"
												class="mdl-button mdl-js-button btn-sort bdr">
											<span class="hide-xs"><span class="txtspan1"></span>	
											<span class="hide-sm hide-md hide-lg hide-xl"><i class="material-icons">sort_by_alpha</i></span>	
										  <i class="material-icons">keyboard_arrow_down</i>
										</button>
										<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect btn-sorlist1"
											for="demo-menu-lower-right2">
											<li class="mdl-menu__item">{{action.name}}</li>
										 </ul> -->
									<div class="select-control">
								      <md-select ng-model="action" placeholder="Sort By - All" class="btn-sort bdr mdl-button md-no-underline">
								           <md-option ng-value="action" ng-repeat="action in actions" ng-click="filterChange(action,'sortBy');">{{action.name}}</md-option>
								      </md-select>
									</div>
									
									 </div>
									 
									<!--  <div class="marketplace-btn-container">
										<button id="demo-menu-lower-right3"
												class="mdl-button mdl-js-button btn-sort bdr">
											<span class="hide-xs"><span class="txtspan1">Sort By ID</span> - All</span>
											<span class="hide-sm hide-md hide-lg hide-xl"><i class="material-icons">sort</i></span>
										  <i class="material-icons">keyboard_arrow_down</i>
										</button>
										<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect btn-sorlist2"
											for="demo-menu-lower-right3">
										  <li class="mdl-menu__item" ng-repeat="solution in mlsolutions"
									              ng-click="filterChange(filterid,'sortById')">{{solution.solution}}</li>
										</ul>
									</div> -->
									
									
							          <md-select ng-model="selectedSolutionId" placeholder="Sort By Id - All" class="btn-sort bdr mdl-button md-no-underline">
							             <md-select-header class="demo-select-header">
								            <input ng-model="searchTerm" type="search" >
								        </md-select-header> 
							            <md-option ng-repeat="(key, solution) in solutionIds | filter : searchTerm" ng-value="solution.solutionId" ng-click="searchChange(key)">
							              {{solution.solutionId}}
							            </md-option>
							             <md-select-header class="demo-select-header">
								           <a ng-click="viewAllSolutions()" > View All </a>
								        </md-select-header>
							          </md-select>

									
								<!-- 	<button ng-disabled="Viewtile" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="Viewtile = true">
                                            <i class="fa fa-th-large" aria-hidden="true"></i>
                                   </button>
                                   <button ng-disabled="!Viewtile" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="Viewtile = false">
                                           <i class="material-icons">view_list</i>
                                   </button> -->
                                   <div class="grid-view-btn-container">                                   
                                   <button ng-disabled="Viewtile" ng-class="{'gridlistview-btnactive':Viewtile}" class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="Viewtile = true" alt="Grid View" title="Grid View">
                                            <i ng-if="Viewtile">
                                            	<img src="images/tile_view_white_icon.png" />
                                            </i>
                                             <i ng-if="!Viewtile">
                                            	<img src="images/tile_view_black_icon.png" />
                                            </i>
                                   </button>
                                   <button ng-disabled="!Viewtile" ng-class="{'gridlistview-btnactive':!Viewtile}" class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="Viewtile = false" alt="List View" title="List View">
                                           <i ng-if="Viewtile">
                                            	<img src="images/list_view_black_icon.png" />
                                            </i>
                                              <i ng-if="!Viewtile">
                                            	<img src="images/list_view_white_icon.png" />
                                            </i>  
                                   </button>
                                   </div>
                                   </div>
								  </div>							  
								</div>
								<div class="mob-actions-container1 hide-sm hide-md hide-lg hide-xl">
									<button class="mdl-button mdl-js-button mdl-button--primary btn-browse1" ng-click="showfilter = !showfilter"><i class="material-icons">open_in_browser</i></button>
									<div class="select-control ">
									    <md-select ng-model="action" placeholder="" class="mdl-button md-no-underline mob-btn-sort">
									        <md-option ng-value="action" ng-repeat="action in actions" ng-click="filterChange(action,'sortBy');">{{action.name}}</md-option>
									    </md-select>
									</div>
									<div class="select-control">
											<md-select ng-model="selectedSolutionId" placeholder="" class="mdl-button md-no-underline mob-btn-sort">
								             <md-select-header class="demo-select-header">
									            <input ng-model="searchTerm" type="search" >
									        </md-select-header> 
								            <md-option ng-repeat="(key, solution) in solutionIds | filter : searchTerm" ng-value="solution.solutionId" ng-click="searchChange(key)">
								              {{solution.solutionId}}
								            </md-option>
								             <md-select-header class="demo-select-header">
									           <a ng-click="viewAllSolutions()" > View All </a>
									        </md-select-header>
								          </md-select>
									</div>
									<div class="grid-view-btn-container">                                   
		                                <button ng-disabled="Viewtile" ng-class="{'gridlistview-btnactive':Viewtile}" class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="Viewtile = true">
		                                      <i ng-if="Viewtile">
		                                            	<img src="images/tile_view_white_icon.png" />
		                                            </i>
		                                             <i ng-if="!Viewtile">
		                                            	<img src="images/tile_view_black_icon.png" />
		                                            </i>
		                                </button>
		                                <button ng-disabled="!Viewtile" ng-class="{'gridlistview-btnactive':!Viewtile}" class="gridlistview-btn mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="Viewtile = false">
		                                           <i ng-if="Viewtile">
		                                            	<img src="images/list_view_black_icon.png" />
		                                            </i>
		                                              <i ng-if="!Viewtile">
		                                            	<img src="images/list_view_white_icon.png" />
		                                            </i>  
		                                </button>
		                            </div>
								</div>							
								<br />
								<div class="grid-outer-wrapper">
									<div class="grid-container">
										<!-- <h6 class="gridlistheading">My Newly/unpublished onboarded Models (Private) <span class="pull-rght"><a href="#" class="btnseeall">See All</a> <a href="#" class="seeall-icons"><i class="material-icons">navigate_before</i></a><a href="#" class="seeall-icons"><i class="material-icons">navigate_next</i></a> </span></h6> -->
										
										<div class="mp-grid"  ng-show="Viewtile">
										  <div class="alert c-info" ng-if="mlsolutions.length < 1 || (allDeletedData && !searchResults)">
							                   <strong>No Result found</strong> 
						                   </div>
										  <!--  <div infinite-scroll='loadMore()' infinite-scroll-distance="2"> -->
											<div class="grid-item" ng-repeat="mlsolution in mlsolutions | unique:'solutionId' | filter:(!searchResults || '') && {active:true} as filtered">
												<div class="grid-top-section">	
												    <div class="product-image">										
													<!-- <div class="mpimgcontainer"> -->
											        	<!-- <div class="mpimage1"> -->
											        	   <figure>
																<img ng-src="{{imageUrls[mlsolution.solutionId]}}"
																	ng-click="onClickModel($index, mlsolution.solutionId)"
																	class="img-rounded">
															</figure>
											        	<!-- </div> -->
											        	<!-- <div class="mpbtncontainer">
											        			<md-button class="text-small">anomoly detection</md-button>
											        			<md-button class="text-small">classification</md-button>
											        	</div> -->
											         </div>					        		
													<div class="mpdetailscontainer">
													    <label class="griditem-title">{{mlsolution.name}} <!-- <span class="text-xsmall link-orange">In Process</span> --></label>
													    <label class="grid-item-text-container"><span class="griditem-text2 grid-item-lbl">by {{mlsolution.ownerName}}</span> | <span class="griditem-text2">on {{ mlsolution.modified || mlsolution.created | date:"MM/dd/yyyy"}}</span> | <span class="text-xsmall link-orange" ng-if="mlsolution.active != ''">New</span></label>
													     <!-- <p class="disblock mp-para" ng-bind-html="mlsolution.description">{{mlsolution.description}}</p>		 -->									      														      		
													   	<!--  <p class="disblock mp-para">**** {{mlsolution.modelType}} ****</p>	 -->										  			
													</div>
													<div class="rating clear_both">
														
															<span>
															 <i class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 1}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 2}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 3}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 4}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 5}" aria-hidden="true"></i>
															 </span>
															 <!--  requwested download commented -->
															<!-- <button class="mdl-button mdl-js-button mdl-button--icon req-download-btn" ng-disabled="!loginUserID" ng-click="mlsolution.selectFav = !mlsolution.selectFav; updateFavorite(mlsolution.solutionId, $index)" ">
																Request To download
														 	</button> -->
																
													</div>
													<!-- <div class="md-icons">									
														<span class="iconspan1">
															<i class="material-icons">chat_bubble</i>0</span> 
															<span class="iconspan1"><i class="material-icons">visibility</i> {{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</span> 
															<span class="iconspan1"><i class="material-icons">file_download</i>{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</span> 
															<span class="iconspan1"><i class="material-icons">attach_file</i>{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span>
													</div> -->
													<div class="md-icons md-icons-tiles">
															<span><span class="statistics-icons icon-chat" alt="Comment" title="Comment"></span> 0</span>
															<span><span class="statistics-icons icon-view" alt="View" title="View"></span> {{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</span>
															<span><span class="statistics-icons icon-download" alt="Download" title="Download"></span> {{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</span>
															<!-- <span><span class="statistics-icons icon-attachment"></span> {{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span> -->
															<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-disabled = "!loginUserID" ng-click="mlsolution.selectFav = !mlsolution.selectFav; updateFavorite(mlsolution.solutionId, $index)" alt="Favorite" title="Favorite">
																<i class="material-icons" ng-class="{'unselected-fav':!mlsolution.selectFav ,'selected-fav':mlsolution.selectFav}">favorite_border</i>
														 	</button>
														</div>
												</div>													
											</div> <!-- Grid item End -->
										<!-- </div> -->
										</div>
										<div class="mp-grid-list" ng-show="!Viewtile">
											<div class="alert c-info" ng-if="mlsolutions.length < 1 || (allDeletedData && !searchResults)">
											    <strong>No Result found</strong> 
										    </div>
											<div class="mp-grid-list-row" ng-repeat="mlsolution in mlsolutions | unique:'solutionId' | filter:(!searchResults || '') && {active:true}">
												<div class="mp-grid-list-image-cell">
													<div class="mpimage1">
														 <figure>
																<img ng-src="{{imageUrls[mlsolution.solutionId]}}"
																	ng-click="onClickModel($index, mlsolution.solutionId)"
																	class="img-rounded">
								                         </figure>
													</div>
														<div class="mpbtncontainer">
															<md-button class="text-small">anomoly detection</md-button>
															<md-button class="text-small">classification</md-button>
														</div>
												</div>
												<div class="mp-grid-list-details-cell">
														<label class="griditem-title"><span class="griditem-title-text">{{mlsolution.name}}</span> <span class="text-xsmall link-orange">In progress</span></label>
															<div class="disblock detail-content">
																<span class="griditem-text2">by {{mlsolution.ownerName}}</span> | 
																<span class="griditem-text2">on {{mlsolution.modified || mlsolution.created | date:"MM/dd/yyyy"}}</span> | 
																<span class="text-xsmall link-orange" ng-if="mlsolution.active != ''">New</span> |
																<!-- <span class="text-small" ng-bind-html="mlsolution.description">{{mlsolution.description}}</span> -->
															</div>
												    <div>
												    	<div class="rating clear_both">
															<span><i class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 1}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 2}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 3}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 4}" aria-hidden="true"></i></span> <span><i
																class="fa fa-star" ng-class="{'fa-star1': mlsolution.solutionRatingAvg == null || mlsolution.solutionRatingAvg < 5}" aria-hidden="true"></i></span>																
																
														</div>												    	 
													</div>
													<!-- <div class="md-icons">									
														<span class="iconspan1">
															<i class="material-icons">chat_bubble</i>0</span> 
															<span class="iconspan1"><i class="material-icons">visibility</i> {{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</span> 
															<span class="iconspan1"><i class="material-icons">file_download</i>{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</span> 
															<span class="iconspan1"><i class="material-icons">attach_file</i>{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span>
													</div> -->	 												
													<div class="md-icons">
															<span><span class="statistics-icons icon-chat"></span> 0</span>
															<span><span class="statistics-icons icon-view"></span> {{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</span>
															<span><span class="statistics-icons icon-download"></span> {{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</span>
															<!-- <span><span class="statistics-icons icon-attachment"></span> {{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</span> -->
															<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored listview-btnfav" ng-disabled = "!loginUserID" ng-click="mlsolution.selectFav = !mlsolution.selectFav; updateFavorite(mlsolution.solutionId, $index)">
																	<i class="material-icons" ng-class="{'unselected-fav':!mlsolution.selectFav ,'selected-fav':mlsolution.selectFav}">favorite_border</i>
														 		</button>													
														</div>
																					
												</div>
											</div>								
									</div>
									</div>
								</div>
								<br />
								<div class="text-center">									
									<button class="mdl-button mdl-js-button mdl-button--raised btn-primary" ng-click="loadMore()" ng-if='MlSoltionCount' ng-hide="(mlsolutions.length < 1) || viewNoMLsolution=='No More ML Solutions'">
									  {{viewNoMLsolution}}
									</button>
									
								</div>
							</div>									
						</div>
					</div>
				</div>
			 		  
		  
		 <!-- </div>  -->

<!-- <div class="alert alert-warning" ng-if="noDataFound">
  <strong>No data found</strong>
</div>

<section class="description_box" id="breadcrumb-box">
	<h4>Marketplace</h4>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#"></a></li>
	</ol>
</section>
<div class="product_container ">
	<div class="leftfilter col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<div class="mobshow">
			<button id="browse-btn" type="submit" class="btn btn-default"
				value="Browse By">Browse By</button>
		</div>
		<div class="leftsection mobhide">
			<div class="mobhide">
				<label>Browse By</label> <span class="pull-right showmore"><a
					data-target="#"> <span class="">Show All</span></a></span>
				<hr class="hr2" />
			</div>
			<div id="leftnav" class="">
				<div>
					<div>
						<label>Search Here</label>
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control"
								ng-change="filterChange('searchBox','searchFilter')"
								placeholder="Search" ng-model="searchBox"> <span
								class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="privacy">
					<label>Privacy / Visibility</label>
					<div class="checkbox" ng-repeat="checkbox in privacyCheckBox">
					  <label>
						<input type="checkbox" value="{{checkbox.accessCode}}" ng-click="filterChange(checkbox.accessCode,'privacy')">{{checkbox.accessName}}				
					  </label>
					</div>
				</div>
					<div>
						<label>Filter By Category</label>
						<div class="checkbox" ng-repeat="cat in category">
							<label> <input ng-checked="master" type="checkbox"
								value="{{cat}}" ng-click="filterChange(cat.typeCode,'caegory')">{{cat.typeName}}

							</label>
						</div>
					</div>
				</div>
				<div class="tagsection">
					<label>Tags</label>
					<div class="tagscontainer" ng-repeat="tag in tags">
						<span class="tagspan">{{tag}}</span> <span class="tagspan">Unsupervised</span>
						<span class="tagspan">Anomaly Detection</span> <span
							class="tagspan">Prediction</span> <span class="tagspan">Feature
							Extraction</span> <span class="tagspan">Dimensionality Reduction</span>
						<span class="tagspan">Random Forest</span> <span class="tagspan">Reinforcement</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="product-right-container col-xs-12 col-sm-12 col-md-9 col-lg-9 ">

		<div>
			<div class="sort-heading">
				<div class="pull-left">
					<span class="pull-left">Showing All</span>
					<div class="filterlists" ng-if="sortedby" ng-model="sortedby"
						ng-click="filterChange('','sortBy')">
						<span>{{sortedby}}</span>
					</div>
					<div class="filterlists" ng-if="sortedbyid" ng-model="sortedbyid"
						ng-click="filterChange('','sortById')">
						<span>{{sortedbyid}}</span>
					</div>
				</div>
				<div class="sortlist">
					<ul>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Sort By<span class="mobhide">:
									All</span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-repeat="action in actions"
									ng-click="filterChange(action,'sortBy')"><a>{{action}}</a></li>
							</ul></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Sort By ID<span class="mobhide">:
									All</span> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<div class="input-group stylish-input-group">
										<input class="form-control" placeholder="Search" type="text">
										<span class="input-group-addon">
											<button type="submit">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</span>
									</div>
								</li>
								<li><a ng-repeat="filterid in filterids"
									ng-click="filterChange(filterid.value,'sortById')">{{filterid.name}}</a></li>
							</ul></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

			Private Models
			<div>
				<div class="product">
					<h5>My Newly/unpublished on-boarded Models(Private)</h5>
					<div infinite-scroll='onLoad()' infinite-scroll-distance="2">

						<div class="alert alert-info"
							ng-if="(mlsolutions|filter:{accessType:'PR'} | filter: {active:true}).length < 1">
							<strong>No Data</strong> in your Newly/unpublished on-boarded Models.
						</div>

						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
							ng-repeat="mlsolution in mlsolutions | filter: {accessType:'PR'} | filter: {active:true}">
							<div class="product-image">
								<figure>
									<img ng-if="mlsolution.modelType == 'CL'" ng-src="{{imgURLCL}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'RG'" ng-src="{{imgURLRG}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'DT'" ng-src="{{imgURLDT}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'PR'" ng-src="{{imgURLPR}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
							<img ng-if="mlsolution.modelType == null" ng-src="{{imgURLnull}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
								</figure>
							</div>
							<div class="product-description">
								<figcaption>{{mlsolution.name}}</figcaption>
								<ul>
									<li>by {{mlsolution.ownerName}}</li>
									<li>on {{mlsolution.created | date:"MM/dd/yyyy"}}</li>
									<li ng-if="mlsolution.active != ''">New</li>
								</ul>
								<p class="textellipsis" ng-bind-html="mlsolution.description">{{mlsolution.description}}</p>
								<div class="metrics">
									<span>Performance Metrics</span>
									<ul>
										<li class="">Precision: <span>0</span></li>
										<li class="">Recall: <span>0</span></li>
										<li class="">F1: <span>0</span></li>
									</ul>
								</div>
								<div class="rating">
									<span><i class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating == null || mlsolution.solutionRating < 1}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 2}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 3}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 4}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 5}" aria-hidden="true"></i></span>
										
								</div>
								<ul class="socialblog">
									<li class="comment">0</li>
									<li class="eyeopen">{{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</li>
									<li class="download">{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</li>
									<li class="link">{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			Private Models Ends

			<div class="clearfix"></div>

			Company Models
			<div>
				<div class="product">
					<h5>My Company Models</h5>
					<div infinite-scroll='onLoad()' infinite-scroll-distance="2">
						
						<div class="alert alert-info"
							ng-if="(mlsolutions|filter:{accessType:'OR'} | filter: {active:true}).length < 1">
							<strong>No Data</strong> in  Company Models.
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
							ng-repeat="mlsolution in mlsolutions | filter: {accessType:'OR'} | filter: {active:true} ">
							<div class="product-image">
								<figure>
									<img ng-if="mlsolution.modelType == 'CL'" ng-src="{{imgURLCL}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'RG'" ng-src="{{imgURLRG}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'DT'" ng-src="{{imgURLDT}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'PR'" ng-src="{{imgURLPR}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
							<img ng-if="mlsolution.modelType == null" ng-src="{{imgURLnull}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
								</figure>
							</div>
							<div class="product-description">
								<figcaption>{{mlsolution.name}}</figcaption>
								<ul>
									<li>by {{mlsolution.ownerName}}</li>
									<li>on {{mlsolution.created | date:"MM/dd/yyyy"}}</li>
									<li ng-if="mlsolution.active != ''">New</li>
								</ul>
								<p class="textellipsis" ng-bind-html="mlsolution.description">  {{mlsolution.description}}</p>
								<div class="metrics">
									<span>Performance Metrics</span>
									<ul>
										<li class="">Precision: <span>0</span></li>
										<li class="">Recall: <span>0</span></li>
										<li class="">F1: <span>0</span></li>
									</ul>
								</div>
								<div class="rating">
									<span><i class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating == null || mlsolution.solutionRating < 1}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 2}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 3}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 4}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 5}" aria-hidden="true"></i></span>
								</div>
								<ul class="socialblog">
									<li class="comment">0</li>
									<li class="eyeopen">{{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</li>
									<li class="download">{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</li>
									<li class="link">{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			Company Models Ends

			<div class="clearfix"></div>

			Public Models
			<div>
				<div class="product">
					<h5>My Public Models</h5>
					<div infinite-scroll='onLoad()' infinite-scroll-distance="2">
						
						<div class="alert alert-info"
							ng-if="(mlsolutions|filter:{accessType:'PB'}| filter: {active:true}).length < 1">
							<strong>No Data</strong> in Public Models.
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
							ng-repeat="mlsolution in mlsolutions | filter: {accessType:'PB'} | filter: {active:true} ">
							<div class="product-image">
								<figure>
									<img ng-if="mlsolution.modelType == 'CL'" ng-src="{{imgURLCL}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'RG'" ng-src="{{imgURLRG}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'DT'" ng-src="{{imgURLDT}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'PR'" ng-src="{{imgURLPR}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
							<img ng-if="mlsolution.modelType == null" ng-src="{{imgURLnull}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
								</figure>
							</div>
							<div class="product-description">
								<figcaption>{{mlsolution.name}}</figcaption>
								<ul>
									<li>by {{mlsolution.ownerName}}</li>
									<li>on {{mlsolution.created | date:"MM/dd/yyyy"}}</li>
									<li ng-if="mlsolution.active != ''">New</li>
								</ul>
								<p class="textellipsis"  ng-bind-html="mlsolution.description">
								{{mlsolution.description}}
								</p>
								<div class="metrics">
									<span>Performance Metrics</span>
									<ul>
										<li class="">Precision: <span>0</span></li>
										<li class="">Recall: <span>0</span></li>
										<li class="">F1: <span>0</span></li>
									</ul>
								</div>
								<div class="rating">
									<span><i class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating == null || mlsolution.solutionRating < 1}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 2}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 3}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 4}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 5}" aria-hidden="true"></i></span>
								</div>
								<ul class="socialblog">
									<li class="comment">0</li>
									<li class="eyeopen">{{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</li>
									<li class="download">{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</li>
									<li class="link">{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			Public Models Ends
			<div class="clearfix"></div>
			My Deleted Models
			<div>
				<div class="product">
					<h5>My Deleted Models</h5>
					<div infinite-scroll='onLoad()' infinite-scroll-distance="2">
						
						<div class="alert alert-info"
							ng-if="(mlsolutions|filter:{active:false}).length < 1">
							<strong>No Data</strong> in Deleted Models.
						</div>
						
						
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"
							ng-repeat="mlsolution in mlsolutions | filter: {active:false} ">
							<div class="product-image">
								<figure>
									<img ng-if="mlsolution.modelType == 'CL'" ng-src="{{imgURLCL}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'RG'" ng-src="{{imgURLRG}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'DT'" ng-src="{{imgURLDT}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'PR'" ng-src="{{imgURLPR}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
							<img ng-if="mlsolution.modelType == null" ng-src="{{imgURLnull}}"
							ui-sref="modelEdit({solutionId:'{{mlsolution.solutionId}}'})"
							class="img-rounded" width="204" height="156">
								</figure>
							</div>
							<div class="product-description">
								<figcaption>{{mlsolution.name}}</figcaption>
								<ul>
									<li>by {{mlsolution.ownerName}}</li>
									<li>on {{mlsolution.created | date:"MM/dd/yyyy"}}</li>
									<li ng-if="mlsolution.active != ''">New</li>
								</ul>
								<p class="textellipsis"  ng-bind-html="mlsolution.description">
								{{mlsolution.description}}
								</p>
								<div class="metrics">
									<span>Performance Metrics</span>
									<ul>
										<li class="">Precision: <span>0</span></li>
										<li class="">Recall: <span>0</span></li>
										<li class="">F1: <span>0</span></li>
									</ul>
								</div>
								<div class="rating">
									<span><i class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating == null || mlsolution.solutionRating < 1}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 2}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 3}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 4}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 5}" aria-hidden="true"></i></span>
								</div>
								<ul class="socialblog">
									<li class="comment">0</li>
									<li class="eyeopen">{{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</li>
									<li class="download">{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</li>
									<li class="link">{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>

			My Deleted Models

			<div class="clearfix"></div>

			<div ng-show="dataLoading">
				<center>Data is loading..</center>
			</div>
			<div ng-show="nodata">
				<center>No More ML Solution</center>
			</div>
	</div> -->
<!-- <section class="description_box" id="breadcrumb-box">
	<h4>Marketplace</h4>
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li>Marketplace</li>
	</ol>
</section>
  </section> 
  <div class="product_container ">
    <div class="leftfilter col-xs-12 col-sm-12 col-md-3 col-lg-3">
	<div class="mobshow">
		 <button id="browse-btn" type="submit" class="btn btn-default" value="Browse By">Browse By </button>
		</div>
	<div class="leftsection mobhide">		
		<div class="mobhide">
			<label>Browse By</label>
			<span class="pull-right showmore"><a data-target> <span class="">Show All</span></a></span> 
			<hr class="hr2" />
		</div>
		<div id="leftnav" class="">
			<div>			
				<div>
					<label>Search Here</label>
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control" ng-change="filterChange('searchBox','searchFilter')"  placeholder="Search" ng-model="searchBox" >
						<span class="input-group-addon">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>  
						</span>
					</div>
				</div>
				<div class="privacy">
					<label>Privacy / Visibility</label>
					<div class="checkbox" ng-repeat="checkbox in checkBox">
					  <label>
						<input type="checkbox" value="{{checkbox}}" ng-click="filterChange(checkbox,'privacy')">{{checkbox}}				
					  </label>
					</div>
				</div>
				<div>
					<label>Filter By Category</label>
					<div class="checkbox" ng-repeat="cat in category">
					  <label>
						<input ng-checked="master" type="checkbox" value="{{cat}}" ng-click="filterChange(cat.typeCode,'caegory')">{{cat.typeName}}					
					  	
					  </label>
					</div>
				</div>			
			</div>
			<div class="tagsection">
				<label>Tags</label>			
				<div class="tagscontainer" ng-repeat="tag in tags">
					<span class="tagspan">{{tag}}</span>
					<span class="tagspan">Unsupervised</span>
					<span class="tagspan">Anomaly Detection</span>
					<span class="tagspan">Prediction</span>
					<span class="tagspan">Feature Extraction</span>
					<span class="tagspan">Dimensionality Reduction</span>
					<span class="tagspan">Random Forest</span>	
					<span class="tagspan">Reinforcement</span>					
				</div>  		
			</div>
		</div>
	</div>
</div>
<div class="product-right-container col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
	
	<div>
		<div class="sort-heading">			
			<div class="pull-left">
			 <span class="pull-left">Showing All</span> 
			<div class="filterlists" ng-if="sortedby" ng-model="sortedby" ng-click="filterChange('','sortBy')">
				<span>{{sortedby}}</span>
			</div>
			<div class="filterlists" ng-if="sortedbyid" ng-model="sortedbyid" ng-click="filterChange('','sortById')">
				<span>{{sortedbyid}}</span>
			</div>
			</div>
			<div class="sortlist">
				<ul>					
					<li class="dropdown">
					  <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By<span class="mobhide">: All</span> <span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  	<li ng-repeat="action in actions" ng-click="filterChange(action,'sortBy')"><a>{{action}}</a></li>
					</ul>
					  
					</li>
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By ID<span class="mobhide">: All</span> <span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li>
							<div class="input-group stylish-input-group">
								<input class="form-control" placeholder="Search" type="text">
								<span class="input-group-addon">
									<button type="submit">
										<span class="glyphicon glyphicon-search"></span>
									</button>  
								</span>
							</div>
						</li>
						<li><a ng-repeat="filterid in filterids" ng-click="filterChange(filterid.value,'sortById')">{{filterid.name}}</a></li>
						</ul>
					</li>
				</ul>	
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="product">
		
		<div class="product">
			<h5>Advanced Workflow</h5>
		<div infinite-scroll='loadMore()' infinite-scroll-distance="2">
		
		
		<div class="alert alert-info" ng-if="mlsolutions.length < 1 || (allDeletedData && !searchResults)">
							<strong>No Result found</strong> 
						</div>
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="mlsolution in mlsolutions | filter:(!searchResults || '') && {active:true}">

				<div class="product-image">
					<figure>
					 <img ng-if="mlsolution.modelType == 'CL'" ng-src="{{imgURLCL}}"
							ng-click = "onClickModel($index, mlsolution.solutionId)"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'RG'" ng-src="{{imgURLRG}}"
							ng-click = "onClickModel($index, mlsolution.solutionId)"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'DT'" ng-src="{{imgURLDT}}"
							ng-click = "onClickModel($index, mlsolution.solutionId)"
							class="img-rounded" width="204" height="156">
					<img ng-if="mlsolution.modelType == 'PR'" ng-src="{{imgURLPR}}"
							ng-click = "onClickModel($index, mlsolution.solutionId)"
							class="img-rounded" width="204" height="156">
							<img ng-if="mlsolution.modelType == null" ng-src="{{imgURLnull}}"
							ng-click = "onClickModel($index, mlsolution.solutionId)"
							class="img-rounded" width="204" height="156">
					</figure>
				</div>
				<div class="product-description">
					<figcaption>
					 {{mlsolution.name}}
					</figcaption>			
					<ul>
						<li>by {{mlsolution.ownerName}}</li>
						<li>on {{mlsolution.created  | date:"MM/dd/yyyy"}}</li>
						<li ng-if="mlsolution.active != ''">New</li>
					</ul> 
					ng-bind-html="solutionDesc"
					<p class="textellipsis" ng-bind-html="mlsolution.description">
						{{mlsolution.description}}
					</p>
					<div class="metrics">
						<span>Performance Metrics</span>
						<ul>
							<li class="">Precision: <span>000</span></li>
							<li class="">Recall: <span>000</span></li>
							<li class="">F1: <span>000</span></li>
						</ul>
					</div>
					<div class="rating">
						<span><i class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating == null || mlsolution.solutionRating < 1}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 2}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 3}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 4}" aria-hidden="true"></i></span> <span><i
										class="fa fa-star" ng-class="{'fa-star-o': mlsolution.solutionRating < 5}" aria-hidden="true"></i></span>						
					</div>
					<ul class="socialblog">
						<li class="comment">0</li>
									<li class="eyeopen">{{mlsolution.viewCount == null ? 0 : mlsolution.viewCount}}</li>
									<li class="download">{{mlsolution.downloadCount == null ? 0 : mlsolution.downloadCount}}</li>
									<li class="link">{{mlsolution.solutionTag == null ? 0 : mlsolution.solutionTag}}</li>
					</ul>
				</div>
			</div>
       </div>
		</div>
		</div>
    <div ng-show="dataLoading"><center>Data is loading..</center></div>
<div ng-show="nodata"><center>No More ML Solution</center></div>
</div>
<input type="checkbox" hidden ng-model="master"> -->