<!-- Sign-in Promt Modal box start -->
							<div id="myDialog">
							  <md-dialog aria-label="Sign In" class="sign-in-promt-modal-box">
								  <form ng-cloak>
									<md-toolbar>
									  <div class="md-toolbar-tools">
										<h2>Sign In</h2>
										<span flex></span>
										<md-button class="md-icon-button" ng-click="closeDialog()">
										  <i class="material-icons">close</i>
										</md-button>
									  </div>
									</md-toolbar>
									<md-dialog-content>
										<div class="md-dialog-content">
											<p>Please sign in to application.</p>
										</div>
									</md-dialog-content>
									<md-dialog-actions>
										<div class="dialog-footer-container1">
											<span></span>
											<md-button type="submit" class="mdl-button mdl-js-button btn-primary" title="Confirm" ng-click="closeDialog()">
												OK
											</md-button>
									    </div>
									</md-dialog-actions>
								  </form>
								</md-dialog>
							</div>
						<!-- Sign-in Promt Modal box end -->